---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
gql: "query productById($productId: Int!) {
    site {
        product(entityId: $productId) {
            entityId
            sku
            name
            productOptions {
                edges {
                    node {
                        entityId
                        isRequired
                        displayName
                    }
                }
            }
            variants {
                edges {
                    node {
                        entityId
                        sku
                        isPurchasable
                        options {
                            edges {
                                node {
                                    entityId
                                    displayName
                                    isRequired
                                    values {
                                        edges {
                                            node {
                                                entityId
                                                label
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}"
---
{{inject 'productId' product.id}}

{{#partial "head"}}
    {{#if (length product.options) "===" 1}}
        <style type="text/css">
            {{#each gql.data.site.product.variants.edges}}
                {{#unless node.isPurchasable}}
                    {{#with (getObject "options.edges.0.node.values.edges.0.node" node)}}
                        label.form-label[data-product-attribute-value="{{node.entityId}}"] {
                            display: none !important;
                        }
                    {{/with}}
                {{/unless}}
            {{/each}}
        </style>
    {{/if}}
{{/partial}}

{{#partial "page"}}

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div>
        {{> components/products/product-view}}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        {{> components/products/tabs}}
    </div>

    {{> components/products/schema}}
{{/partial}}
{{> layout/base}}
